@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
.cardtitulos, .card-title,
.titulocard {
  font-size: 1rem;
  color: #42201d;
  font-family: "Montserrat", sans-serif;
}

.cardparrafo, .card-text,
.parrafocard {
  color: #42201d;
  line-height: 0.5rem;
  margin-bottom: 0.75rem;
  font-size: 0.71rem;
  padding: 0.8rem;
  text-wrap: pretty;
  line-height: 1rem;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5rem;
  background-color: #b99898;
  width: 100%;
  height: 20vh;
  border-radius: 0px 0px 1rem 1rem;
}
@media (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}

.nav-links {
  display: flex;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-links li a {
  text-decoration: none;
  font-size: 0.71rem;
  color: #F4F1EC;
  font-weight: 500;
  padding: 0.5rem;
}
.nav-links li a:hover {
  color: #D2D904;
}
@media (min-width: 768px) {
  .nav-links li a {
    font-size: 1rem;
    padding-right: 2rem;
  }
}

.logo {
  padding-top: 0.2rem;
  height: auto;
  transition: transform 0.3s ease;
}
.logo:hover {
  transform: scale(1.1);
}
@media (min-width: 768px) {
  .logo {
    padding-left: 2rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F7F5F2;
  max-width: 95%;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/images/frentehotel.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  margin-top: 1rem;
}
.hero h1 {
  color: #1a100f;
  font-size: 2.2rem;
  margin-bottom: 1rem;
  color: #F4F1EC;
  font-family: "Playfair Display", serif;
  padding: 0.8rem;
}
.hero .parrafohero {
  color: #F4F1EC;
  padding: 0.8rem;
}

button {
  border: none;
  background-color: #D2D904;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.btn-primary {
  display: inline;
  margin-top: 1.5rem;
  padding: 0.5rem 1rem;
  background-color: #D2D904;
  color: #F4F1EC;
  text-decoration: none;
  border-radius: 0.3rem;
  font-weight: 600;
  transition: opacity 0.2s;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  cursor: pointer;
}
.btn-primary:hover {
  opacity: 0.7;
}

.reserva {
  margin: 1rem auto;
}

.content {
  text-align: center;
  font-size: "Montserrat", sans-serif;
}

.form-contacto {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  max-width: 600px;
  margin: auto;
}
.form-contacto label {
  font-weight: 600;
  margin-top: 0.7rem;
  color: #1a100f;
  font-size: 0.8rem;
}
.form-contacto input,
.form-contacto textarea {
  padding: 0.6rem;
  border: 1px solid rgba(206, 187, 194, 0.3411764706);
  border-radius: 0.7rem;
}
.form-contacto button {
  margin-top: 1rem;
  padding: 0.7rem;
  color: #F4F1EC;
  border: none;
  border-radius: 0.7rem;
  cursor: pointer;
}
.form-contacto button:hover {
  opacity: 0.85;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 25vh;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.redes {
  padding-top: 20px;
  transition: transform 0.6s ease;
}
.redes img {
  width: 35px;
  height: 35px;
  padding: 4px;
}
.redes img:hover {
  transform: translateY(-8px);
}

.pfooter {
  font-size: 0.8rem;
  text-align: center;
}
.pfooter h6 {
  font-weight: 300;
}

.cards {
  grid-template-columns: 1fr;
  width: 90%;
  margin: 1rem auto;
  gap: 3rem;
}
@media (min-width: 768px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
}

@media (min-width: 768px) {
  .card-title,
  .titulocard {
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) {
  .card-text,
  .parrafocard {
    font-size: 0.8rem;
    padding: 1rem;
  }
}

.logo-img {
  width: 20%;
}

.price {
  font-weight: 400;
  font-size: 0.71rem;
  color: #42201d;
  margin-bottom: 1rem;
}

.card-group {
  column-gap: 0.7rem;
  max-width: 100%;
  margin: 0 auto;
}

.logoinicio {
  width: 50px;
  height: auto;
  max-width: 100%;
  padding: 0.8rem;
}
@media (min-width: 768px) {
  .logoinicio {
    min-width: 25%;
  }
}

.refugio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.refugio img {
  width: 50%;
  height: 50%;
  object-fit: cover;
}

.textorefugio {
  column-count: 2;
  column-gap: 25px;
  line-height: 1.5;
  max-width: 90%;
  justify-self: center;
  font-size: 0.71rem;
  text-wrap: pretty;
  margin-top: 1rem;
  text-align: justify;
}
@media (min-width: 768px) {
  .textorefugio {
    font-size: 1rem;
  }
}

.servicios {
  color: #a17474;
  text-align: center;
}

.uno {
  padding-top: 1.5rem;
}

.dos {
  padding-bottom: 1.5rem;
}

.content {
  padding: 1rem 1.5rem;
  max-width: 100%;
  margin: 0 auto;
  column-gap: 2rem;
}
@media (min-width: 768px) {
  .content {
    padding: 2.2rem 2rem;
  }
}
.content h2 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 3rem;
  color: #3f5746;
  font-family: "Playfair Display", serif;
  font-weight: 600;
}
@media (min-width: 768px) {
  .content h2 {
    font-size: 2.2rem;
  }
}
.content img {
  max-width: 15%;
  padding: 0.8rem;
}

.card {
  border-radius: 0.7rem;
  padding: 0.2rem;
  background: #E1D5C9;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  text-align: center;
  margin: 7px;
}
.card img {
  max-width: 100%;
  border-radius: 0.7rem;
}
.card:hover {
  transform: translateY(-9px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.reservas {
  background: linear-gradient(to top, #b99898, #E1D5C9, #F7F5F2 85%);
  border-radius: 0px 0px 0.7rem 0.7rem;
  margin-top: 20px;
  max-width: 90%;
  margin: 1rem auto;
}

.habitaciones {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.71rem;
}
@media (min-width: 768px) {
  .habitaciones {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=main.css.map */
