@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #b99898;
  width: 100%;
  height: 20vh;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  padding-left: 20px;
  border-radius: 0px 0px 1rem 1rem;
}
.header .nav-links {
  font-family: "Montserrat", sans-serif;
  list-style: none;
  padding-right: 15px;
}
.header .nav-links a {
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
  padding: 15px;
  color: #F4F1EC;
}
.header .nav-links a:hover {
  color: #D2D904;
}

.logo {
  transition: transform 0.3s ease;
}
.logo:hover {
  transform: scale(1.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F7F5F2;
  max-width: 90%;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

h1 {
  color: #1a100f;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/images/frentehotel.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  margin-top: 1rem;
}
.hero h1 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  color: #F4F1EC;
  font-family: "Playfair Display", serif;
}
.hero .btn-primary :hover {
  opacity: 0.85;
}

.parrafohero {
  color: #F4F1EC;
}

button {
  border: none;
  background-color: #D2D904;
  color: #F4F1EC;
  text-decoration: none;
  border-radius: 0.2rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.btn-primary {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.8rem 1.8rem;
  background-color: #D2D904;
  color: #F4F1EC;
  text-decoration: none;
  border-radius: 0.2rem;
  font-weight: 600;
  transition: opacity 0.2s;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  cursor: pointer;
}
.btn-primary.btn-primary:hover {
  opacity: 0.7;
}

.botonreserva {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
}

#form-contacto {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  max-width: 500px;
  margin: auto;
}
#form-contacto label {
  font-weight: 600;
  margin-top: 0.5rem;
  color: #1a100f;
}
#form-contacto input,
#form-contacto textarea {
  padding: 0.6rem;
  border: 1px solid rgba(206, 187, 194, 0.3411764706);
  border-radius: 0.5rem;
  font-family: inherit;
}
#form-contacto button {
  margin-top: 1rem;
  padding: 0.7rem;
  background-color: #1a1a2e;
  color: #F4F1EC;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
#form-contacto button form button:hover {
  opacity: 0.85;
}

.button-primary {
  background-color: #D2D904;
  color: #F4F1EC;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  display: block;
  width: 100px;
  justify-content: center;
}
.button-primary:hover {
  opacity: 0.85;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 25vh;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.redes {
  padding-right: 40px;
  transition: transform 0.6s ease;
}
.redes img {
  width: 35px;
  height: 35px;
  padding: 4px;
}
.redes img:hover {
  transform: translateY(-8px);
}

.pfooter {
  padding-left: 40px;
  font-size: 0.75rem;
}

.content {
  padding: 4rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}
.content h2 {
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 3rem;
  color: #3f5746;
  font-family: "Playfair Display", serif;
}
.content img {
  max-width: 15%;
  padding: 0.3rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
@media (max-width: 900px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

.card {
  border-radius: 12px;
  padding: 1.5rem;
  background: #E1D5C9;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  text-align: center;
}
.card img {
  max-width: 100%;
  border-radius: 12px;
}
.card:hover {
  transform: translateY(-9px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
.card h3 {
  font-size: 1.3rem;
  margin-bottom: 0.75rem;
  color: #42201d;
}
.card p {
  font-size: 0.87rem;
  color: #42201d;
  line-height: 1.4;
  margin-bottom: 0.75rem;
}
.card .logo-img {
  max-width: 15%;
}
.card .price {
  font-weight: bold;
  font-size: 1rem;
  color: #1a100f;
  margin-bottom: 0;
}

.card-group {
  column-gap: 1rem;
  max-width: 100%;
  margin: 0 auto;
  height: 30%;
}

.refugio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 0.7rem;
}
.refugio img {
  max-width: 50%;
}

.textorefugio {
  column-count: 2;
  column-gap: 40px;
  line-height: 1.7;
  max-width: 80%;
  justify-self: center;
  font-size: 1rem;
  text-wrap: pretty;
  padding-top: 40px;
  text-align: justify;
}

.servicios {
  color: #a17474;
  text-align: center;
}

.uno {
  padding-top: 30px;
}

.dos {
  padding-bottom: 50px;
}

h2 {
  font-weight: 600;
}

.reservas {
  background: linear-gradient(to top, #b99898, #E1D5C9, #F7F5F2 80%);
  border-radius: 0px 0px 0.5rem 0.5rem;
  margin-top: 20px;
}

/*# sourceMappingURL=main.css.map */
