@use "../utilities/variables" as v;


.carta {
    border-radius: 12px;
  padding: 0.2rem;
  background: v.$back-soft;
  box-shadow: v.$shadowcard;
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
  text-align: center;
  margin: 7px;

  img {
    max-width: 100%;
    border-radius: v.$border-rad-small;
  }

  &:hover {
    transform: translateY(-9px);
    box-shadow: v.$shadowhover;
  }
}

//contenedor del btn-primary
.habitaciones {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: v.$size-smaller;

    @media (min-width: 768px) {
    font-size: v.$size-normal;
  }
}