@use "../utilities/variables" as v;

.refugio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  img {
    max-width: 50%;
  }
}
.textorefugio {
  column-count: 2;
  column-gap: 25px;
  line-height: 1.5;
  max-width: 90%;
  justify-self: center;
  font-size: v.$size-smaller;
  text-wrap: pretty;
  margin-top: 1rem;
  text-align: justify;
  text-wrap: pretty;

    @media (min-width: 768px) {
    font-size: v.$size-normal;
  }
}

.servicios {
  color: v.$color-second;
  text-align: center;
}

  .uno {
    padding-top: 30px;
  }

  .dos {
    padding-bottom: 30px;
  }
