@use "../utilities/variables" as v;
.reservas {
    background: linear-gradient(to top, v.$back-med, v.$back-soft, v.$back 85%);
    border-radius: 0px 0px v.$border-rad-small v.$border-rad-small;
    margin-top: 20px;

}