@use "./variables" as v;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: v.$back;
  max-width: 95%;
  margin: auto;
  font-family: v.$tipo-text;
  height: 100%;
}
