@use "./variables" as v;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: v.$back;
    max-width: 90%;
    margin: auto;
    font-family: v.$tipo-text;
    height: 100%;

}

h1 {
    color: v.$color-prime;
}



