// colores
$color-prime: #1a100f;
$color-second: #a17474;
$color-text: #42201d;
$color-details: #3f5746;

$back: #F7F5F2;
$back-soft: #E1D5C9;
$back-med: #b99898;
$back-dark: #cebbc257;


$color-button: #D2D904;
$color-links: #F4F1EC;

// tipografias
// Playfair Display (títulos) + Montserrat (textos)

$tipo-tit: "Playfair Display", serif;
$tipo-text: "Montserrat", sans-serif;

// tamaños tipograficos
$size-xssmall:0.2rem;
$size-smallest: 0.6rem;
$size-smaller: 0.71rem;
$size-small: 0.8rem;
$size-normal: 1rem;
$size-big: 1.2rem;
$size-half-bigger: 1.5rem;
$size-bigger: 2rem;
$size-bigger-plus: 2.2rem;


// bordes redondeados
$border-rad-xsmall: 0.2rem;
$border-rad-smaller: 0.3rem;
$border-rad-small: 0.7rem;
$border-rad-med: 1rem;
$border-rad-big: 2rem;

// sombras 
$shadowcard: 0 4px 12px rgba(0, 0, 0, 0.08);
$shadowhover: 0 8px 20px rgba(0, 0, 0, 0.15);

//paddings

$padsmaller: 0.2rem;
$padsmall: 0.5rem;
$padmidnormal: 0.8rem;
$padnormal: 1rem;
$padbig: 1.5rem;
$padbigger: 2rem;
$padbiggest: 2.2rem;