// colores
$color-prime: #1a100f;
$color-second: #a17474;
$color-text: #42201d;
$color-details: #3f5746;

$back: #F7F5F2;
$back-soft: #E1D5C9;
$back-med: #b99898;
$back-dark: #cebbc257;


$color-button: #D2D904;
$color-links: #F4F1EC;

// tipografias
// Playfair Display (títulos) + Montserrat (textos)

$tipo-tit: "Playfair Display", serif;
$tipo-text:  "Montserrat", sans-serif;

// tamaños tipograficos
$size-small: 0.87rem;
$size-normal: 1rem;
$size-smaller: 0.75rem;
$size-big: 1.3rem;
$size-bigger: 2rem;
$size-bigger-plus: 2.2rem;
$size-smallest: 0.3rem;

// bordes redondeados

$border-rad-small: 0.5rem;
$border-rad-med: 1rem;
$border-rad-big: 2rem;