@use "../utilities/variables" as v;
@use "../utilities/mixins" as m;

button {
  border: none;
  background-color: v.$color-button;
  text-decoration: none;

  font-family: v.$tipo-text;
  font-size: v.$size-normal;
}

.btn-primary {
 @include m.botonprincipal;

  &:hover {
    opacity: 0.7;
  }
}

.reserva {
    margin: 1rem auto;
}




