@use "../utilities/variables" as v;
@use "../utilities/extend";

//pagina habitaciones
.cards {
  grid-template-columns: 1fr;
  width: 90%;
  margin: 1rem auto;
  gap: 3rem;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
}

// titulos cards novedades y habitaciones
.card-title,
.titulocard {
  @extend .cardtitulos;

  @media (min-width: 768px) {
    font-size: v.$size-big;
  }
}

// parrafos de cards de novedades y de habitaciones
.card-text,
.parrafocard {
  @extend .cardparrafo;

  @media (min-width: 768px) {
    font-size: v.$size-small;
    padding: v.$padnormal;
  }
}

.logo-img {
  width: 20%;
}
.price {
  font-weight: 400;
  font-size: v.$size-smaller;
  color: v.$color-text;
  margin-bottom: 1rem;
}

// pagina novedades

.card-group {
  column-gap: v.$border-rad-small;
  max-width: 100%;
  margin: 0 auto;
}

//iconos de las tarjetas
.logoinicio {
  width: 50px;
  height: auto;
  max-width: 100%;
  padding: v.$padmidnormal;

  @media (min-width: 768px) {
    min-width: 25%;
  }
}
