@use "../utilities/variables" as v;

.content {
  text-align: center;
  font-size: v.$tipo-text;
}
.form-contacto {
  display: flex;
  flex-direction: column;
  gap: v.$size-smallest;
  max-width: 600px;
  margin: auto;


  label {
    font-weight: 600;
    margin-top: 0.7rem;
    color: v.$color-prime;
    font-size: v.$size-small;
  }

  input,
  textarea {
    padding: 0.6rem;
    border: 1px solid v.$back-dark;
    border-radius: v.$border-rad-small;
  }

  button {
    margin-top: 1rem;
    padding: 0.7rem;
    color: v.$color-links;
    border: none;
    border-radius: v.$border-rad-small;
    cursor: pointer;

      &:hover {
        opacity: 0.85;
      } 
  }
}


