@use "../utilities/variables" as v;

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: v.$back-med;
  width: 100%;
  height: 20vh;
  border-radius: 0px 0px v.$border-rad-med v.$border-rad-med;
  padding-bottom: 1rem;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.nav-links {
  font-family: v.$tipo-text;
  list-style: none;
  justify-self: center;

  a {
    display: inline-block;
    text-decoration: none;
    font-size: v.$size-smallest;
    padding: 7px;
    color: v.$color-links;

    &:hover {
      color: v.$color-button;
    }

    @media (min-width: 768px) {
      font-size: v.$size-normal;
      padding: 1rem;
    }
  }
}
.logo {
   width: 90px;
  height: auto;
  transition: transform 0.3s ease;
 

  


  &:hover {
    transform: scale(1.1);
  }

      @media (min-width: 768px) {
     padding-left: 2rem;
    }


}

